@{
    Layout = null;
}

    <table>
        <tr>
            <th>Функция</th>
            <th>Ввод</th>
            <th>Отправить</th>
        </tr>
        <tr>
            <td>Сумма цифр числа</td>
            <form method="post" action="../Home/SumaCifr">
                <td>
                    <input type="number" name="number" placeholder="Введите число">
                </td>
                <td>
                    <input type="submit">
                </td>
            </form>
        </tr>
        <tr>
            <td>Числа фибоначчи</td>
            <form method="post" action="../Home/Fibbonachi">
                <td>
                    <input type="number" name="Max" placeholder="Введите число">
                </td>
                <td>
                    <input type="submit">
                </td>
            </form>
        </tr>
    </table>
